<div class="u-container-style u-list-item u-repeater-item">
    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
      <div class="u-container-style u-expanded-width u-group u-palette-4-base u-shape-rectangle u-group-1">
        <div class="u-container-layout u-container-layout-2">
          <p class="u-large-text u-text u-text-black u-text-default u-text-variant u-text-2" spellcheck="false">$name</p>
          <p class="u-small-text u-text u-text-default u-text-palette-3-base u-text-variant u-text-3" spellcheck="false">$description</p>
          <p class="u-small-text u-text u-text-default u-text-variant u-text-4" spellcheck="false">Attachment: <a href="challenge.php#sec-4870" data-page-id="1688139" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-5-base u-btn-1">example.txt</a>
          </p>
        </div>
      </div>
    </div>
  </div>