.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-form-1 {
  height: 403px;
  margin: 0 225px 0 285px;
}

.u-section-1 .u-label-1 {
  font-style: italic;
  font-size: 1.5rem;
}

.u-section-1 .u-label-2 {
  font-style: italic;
  font-size: 1.5rem;
}

.u-section-1 .u-text-1 {
  margin: 30px 225px 60px 285px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 125px;
    margin-left: 185px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 125px;
    margin-left: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 15px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 15px;
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}